.left-pane-header {
    font-size: 30px;
    font-weight: bold;
}

.filter-container {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 20px;
}

.filter-list {
    padding: 2px;
    background: #7b7474;
    color: #ded4d4;
}

.filter-text {
    padding-right: 10px;
}

.filter-title {
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 17px;
}
