.app-header {
    font-family: fantasy;
    text-align: center;
    font-size: 35px;
    padding: 30px;
}

.App {
    background-image: url(./images/background.jpg);
    height: 100vh;
    background-size: cover;
}

body {
    overflow-y: hidden;
}